body {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
    margin: 20px;
    height: 100vh;
}

.card-text {
    text-align: justify;
}
